# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=c21n1b32_4rc*enso@)lz(77mw@et09ixk@nwd_!+7j+1^tnlx
DJANGO_ALLOWED_HOSTS=.example.com

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_DEFAULT_FROM_EMAIL=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# Sentry
DJANGO_SENTRY_DSN=

# New Relic
NEW_RELIC_APP_NAME=referral_project
NEW_RELIC_LICENSE_KEY=
NEW_RELIC_CONFIG_FILE=

# Loggly
LOGGLY_TOKEN=

# Redis settings
REDIS_HOST=
